.vscode
videos
wandb

# Python caches
**/__pycache__/
*.pyc

# Build / install artifacts
livelybot_rl_control.egg-info
pi_rl_control.egg-info/**
*.egg-info/

# Training logs and checkpoints
logs/
nohup.out
*.pt
*.onnx
